/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* --------------------------------------------------------------------- 
   -------------------------- STYLE ------------------------------------ 
   --------------------------------------------------------------------- */

:root {
  --selected: "";
}

body {
  background-color: #2a9d8f;
  font-family: "monocraft", cursive;
  min-height: 10vh;
  color: #264653;
}

nav {
  text-align: center;
  font-size: 7rem;
  margin: 3rem 0 7rem 0;
}

.main {
  display: flex;
  justify-content: center;
  margin-left: 53rem;
}

p {
  margin: 1rem 0 1rem 0;
}

.color-code {
  height: 2.6rem;
  margin-bottom: 8rem;
  background-color: rgba(255, 255, 255, 0.893);
}

.color-code:focus {
  background-color: white;
}

.tooltip {
  border-bottom: dotted 1px #264653;
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  opacity: 0;
  background-color: black;
  width: 8rem;
  height: 2rem;
  position: absolute;
  z-index: 100;
  transform: translate(-1rem, -2rem);
}

.tooltip:hover .tooltiptext:hover {
  opacity: 1;
}

.grid-slider {
  width: 100%;
  appearance: none;
  outline: none;
  height: 0.2rem;
  background-color: #264653;
}

.grid-slider::-webkit-slider-thumb {
  appearance: none;
  height: 2rem;
  width: 0.5rem;
  border-radius: 0.5rem;
  background-color: white;
}

button {
  border: none;
  background-color: white;
  color: #264653;
  width: 10rem;
  height: 3rem;
  border-radius: 0.3rem;
  margin-bottom: 2rem;
  font-size: 1rem;
  font-family: "monocraft", cursive;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.893);
}

.eraser:hover {
  background-color: rgba(255, 255, 255, 0.893);
}

.grid-container {
  background-color: white;
  display: flex;
  flex-direction: row;
  margin: 0 10rem 8.4rem 10rem;
  user-select: none;
}

.grid:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.grid:active {
  background-color: var(--selected);
}

.control {
  display: flex;
  flex-direction: column;
}

footer {
  color: #264653;
  text-align: center;
  margin-top: auto;
  font-size: 3rem;
}
